@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,704');


body {
  background-color: white;
  color: #444444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.margin-top {
  margin-top: 180px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.menu-icon {
  display: none;
}

.nav-link {
  list-style: none;
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: black;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.nav-link a:hover {
  color: #f43009;
}

.nav-logo,
.footer-logo {
  width: 100px;
  cursor: pointer;
}

.nav-logo:hover p,
.footer-logo:hover p {
  color: #FF3D17;
}

.nav-logo img,
.footer-logo img {
  width: 100%;
}

.nav-logo p {
  font-size: 17px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-right a {
  text-decoration: none;
  color: #FF3D17;
  border: 1px solid #FF3D17;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
}

.nav-right a:hover {
  background-color: #FF3D17;
  color: white;
}

.banner {
  height: 600px;
  margin-top: 50px;
  color: white;
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url('./images/banner.jpg');
  background-position: center;
  object-fit: cover;
  position: relative;
  border-radius: 15px;
}

.banner-title {
  margin-top: 25px;
}

.banner-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.banner-content h3 {
  font-size: 60px;
}

.banner-link-btn {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.discover-btn {
  text-decoration: none;
  background-color: #FF3D17;
  border: 1px solid #FF3D17;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
}

.discover-btn:hover {
  background-color: transparent;
  border: 1px solid #FF3D17;
  color: #FF3D17;
}

.latest-btn {
  text-decoration: none;
  border: 1px solid white;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
}

.latest-btn:hover {
  color: #FF3D17;
  border: 1px solid #FF3D17;
}

.service-content,
.product-content,
.choose-content,
.team-content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.product-content h3,
.service-content h3,
.choose-content h3,
.team-content h3 {
  font-size: 45px;
}

.product-content p,
.service-content p,
.choose-content p,
.team-content p {
  margin-top: 20px;
}

.service-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 30px;
  margin-top: 40px;
}

.service-card {
  flex: 30%;
  width: 100%;
  height: 400px;
  border: 1px solid #ccc8c8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 15px;
  border-radius: 12px;
  transition: 0.5s;
  cursor: pointer;
}

.service-card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.service-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  color: #FF3D17;
}

.service-card-price p {
  font-weight: bold;
}

.service-card-heading {
  font-size: 25px;
}

.service-card:hover,
.product-card:hover,
.team-card:hover {
  transform: scale(1.05);
}

.contact-us {
  background-color: black;
  color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-card h4 {
  font-size: 25px;
}

.product-card-container,
.team-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.team-card-content h4,
.product-card-content h4 {
  font-size: 25px;
}

.product-card,
.team-card {
  width: 100%;
  height: auto;
  border: 1px solid rgb(213, 211, 211);
  padding: 15px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.product-card .price {
  color: #FF912C;
  font-size: 20px;
  padding: 10px 0;
}

.product-card .product-card-content {
  text-align: center;
  padding: 20px 0;
}

.product-card-img {
  background-color: #F3F3F3;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.in-stock {
  color: green;
}

.stock-out {
  color: red;
}

.team-card-img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 10px;
}

.team-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.team-card-content p {
  font-size: 20px;
  padding: 13px 0;
}

.team-social-icon {
  display: flex;
  gap: 15px;
}

.choose-card-container {
  gap: 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
}

.choose-card {
  width: 100%;
  display: flex;
  flex: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: 0.5s;
  border: 1px solid rgb(213, 211, 211);
  cursor: pointer;
}

.choose-card:hover {
  transform: scale(1.07);
}

.choose-card h4 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
}

.footer {
  background-color: black;
  color: white;
}

.footer h4 {
  font-size: 25px;
}

.footer li {
  padding-bottom: 12px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 100px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content ul {
  list-style: none;
  padding-top: 30px;
}

.footer-content a {
  text-decoration: none;
  color: white;
}

.footer-logo p {
  font-size: 17px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
  color: white;
}

.footer-logo {
  padding-bottom: 20px;
}






@media (min-width:801px) and (max-width:1439px) {
  .banner {
    background-size: 100% 100%;
  }

  .service-card {
    height: 300px;
  }

}


@media (min-width:801px) and (max-width:988px) {
  .team-card {
    flex: 30%;
  }

  .team-card-img {
    height: 200px;
  }
}



/* TABLET RESPONSIVE */
@media (max-width:800px) {

  .margin-top {
    margin-top: 110px;
  }

  .menu-icon {
    display: block;
  }

  .nav-link {
    display: none;
  }

  .banner {
    height: 400px;
    background-size: 100% 100%;
  }

  .banner-content {
    width: 100%;
    padding-left: 40px;
  }

  .banner-content h3 {
    font-size: 40px;
  }

  .service-card-container,
  .product-card-container,
  .team-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-card {
    flex: 45%;
    height: 350px;
  }

  .contact-us {
    flex-wrap: wrap;
    padding: 20px;
    height: 400px;
  }

  .contact-card h4 {
    font-size: 20px;
  }

  .choose-card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card {
    flex: 45%;
  }

  .team-card-container {
    justify-content: left;

  }

  .service-content,
  .product-content,
  .choose-content,
  .team-content {
    width: 70%;
  }

  .footer-container {
    flex-direction: column;
    padding: 60px 0;
  }

}










/* MOBILE RESPONSIVE */
@media (max-width:500px) {

  .margin-top {
    margin-top: 70px;
  }

  .nav-logo {
    width: 80px;
  }

  .nav-right a {
    display: none;
  }

  .nav-logo p {
    font-size: 14px;
  }

  .banner {
    height: 350px;
    object-fit: cover;
    margin-top: 30px;
  }

  .banner-content h3 {
    font-size: 28px;
  }

  .banner-link-btn {
    flex-direction: column;
    margin-top: 10px;
    gap: 7px;
  }

  .banner-content {
    padding-left: 0px;
    padding-inline: 20px;
    text-align: center;
  }

  .service-card {
    flex: 100%;
  }

  .service-card-container,
  .product-card-container {
    margin-top: 20px;
  }

  .service-card-container,
  .product-card-container,
  .team-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-us {
    flex-direction: column;
    align-items: start;
    padding: 20px;
    height: 400px;
  }

  .contact-card h4 {
    font-size: 20px;
  }

  .service-content,
  .product-content,
  .choose-content,
  .team-content {
    width: 100%;
  }

  .product-card {
    flex: 100%;
  }

  .product-card-img {
    height: 180px;
  }

  .product-content h3,
  .service-content h3,
  .choose-content h3,
  .team-content h3 {
    font-size: 30px;
  }

  .team-card-img {
    height: 200px;
  }

  .footer-container {
    flex-direction: column;
    justify-content: start;
  }

  .choose-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .choose-card {
    width: 200px;
  }
}