body {
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.content {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.margin-top {
  margin-top: 180px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.menu-icon {
  display: none;
}

.nav-link {
  list-style: none;
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: black;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav-link a:hover {
  color: #f43009;
}

.nav-logo,
.footer-logo {
  width: 100px;
  cursor: pointer;
}

.nav-logo:hover p {
  color: #FF3D17;
}

.nav-logo img,
.footer-logo img {
  width: 100%;
}

.nav-logo p {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-right a {
  text-decoration: none;
  color: #FF3D17;
  border: 1px solid #FF3D17;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
}

.nav-right a:hover {
  background-color: #FF3D17;
  color: white;
}

.banner {
  height: 600px;
  margin-top: 50px;
  color: white;
  background-image: url('./images/banner.jpg');
  background-position: center;
  object-fit: cover;
  position: relative;
  border-radius: 15px;
}

.banner-title {
  margin-top: 25px;
}

.banner-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.banner-content h3 {
  font-size: 60px;
}

.banner-link-btn {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.discover-btn {
  text-decoration: none;
  background-color: #FF3D17;
  border: 1px solid #FF3D17;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
}

.discover-btn:hover {
  background-color: transparent;
  border: 1px solid #FF3D17;
  color: #FF3D17;
}

.latest-btn {
  text-decoration: none;
  border: 1px solid white;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
}

.latest-btn:hover {
  color: #FF3D17;
  border: 1px solid #FF3D17;
}

.service-content,
.product-content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.product-content h3,
.service-content h3 {
  font-size: 45px;
}

.product-content p,
.service-content p {
  margin-top: 20px;
}

.service-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.service-card {
  flex: 30%;
  width: 360px;
  height: 400px;
  border: 1px solid #ccc8c8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 13px;
  border-radius: 12px;
}

.service-card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.service-card-heading {
  font-size: 25px;
}

.contact-us {
  background-color: black;
  color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-card h4 {
  font-size: 25px;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.product-card {
  flex: 30%;
  width: 360px;
  height: auto;
  border: 1px solid rgb(213, 211, 211);
  padding: 10px;
  border-radius: 10px;
}

.product-card-img {
  background-color: #F3F3F3;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.footer {
  background-color: black;
  color: white;
}

.footer h4{
  font-size: 25px;
}

.footer li{
  padding-bottom: 12px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 100px 0;
}

.footer-logo p {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
  color: white;
}

.footer-logo{
  padding-bottom: 20px;
}









@media (min-width:801px) and (max-width:1439px) {
  .banner {
    background-size: 100% 100%;
  }

  .service-card {
    height: 300px;
  }

}



/* TABLET RESPONSIVE */
@media (max-width:800px) {
  .menu-icon {
    display: block;
  }

  .nav-link {
    display: none;
  }

  .banner {
    height: 400px;
    background-size: 100% 100%;
  }

  .banner-content {
    width: 100%;
    padding-left: 40px;
  }

  .banner-content h3 {
    font-size: 40px;
  }

  .service-card {
    flex: 45%;
    height: 350px;
  }

  .contact-us {
    flex-wrap: wrap;
    padding: 20px;
    height: 400px;
  }

  .contact-card h4 {
    font-size: 20px;
  }

  .product-card {
    flex: 45%;
  }

  .service-content,
  .product-content {
    width: 70%;
  }

  .footer-container{
    flex-direction: column;
    padding: 60px 0;
  }

}










/* MOBILE RESPONSIVE */
@media (max-width:500px) {
  .nav-logo {
    width: 70px;
  }

  .nav-right a {
    display: none;
  }

  .nav-logo p {
    font-size: 14px;
  }

  .banner {
    height: 350px;
    object-fit: cover;
    margin-top: 30px;
  }

  .banner-content h3 {
    font-size: 28px;
  }

  .banner-link-btn {
    flex-direction: column;
    margin-top: 10px;
    gap: 7px;
  }

  .banner-content {
    padding-left: 0px;
    padding-inline: 20px;
    text-align: center;
  }

  .service-card {
    flex: 100%;
  }

  .contact-us {
    flex-direction: column;
    align-items: start;
    padding: 20px;
    height: 400px;
  }

  .contact-card h4 {
    font-size: 20px;
  }

  .service-content,
  .product-content {
    width: 100%;
  }

  .product-card {
    flex: 100%;
  }

  .product-content h3,
  .service-content h3 {
    font-size: 30px;
  }

   .footer-container{
    flex-direction: column;
  }
}