body {
  background-color: white;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.content {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.menu-icon {
  display: none;
}

.nav-link {
  list-style: none;
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: black;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav-link a:hover {
  color: #f43009;
}

.nav-logo {
  width: 100px;
}

.nav-logo img {
  width: 100%;
}

.nav-logo p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-right a {
  text-decoration: none;
  color: #FF3D17;
  border: 1px solid #FF3D17;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
}

.nav-right a:hover{
  background-color: #FF3D17;
  color: white;
}

.banner {
  height: 600px;
  margin-top: 50px;
  color: white;
  background-image: url('./images/banner.jpg');
  background-position: center;
  object-fit: cover;
  position: relative;
  border-radius: 15px;
}

.banner-content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid yellowgreen; */
  padding-left: 60px;
}

.banner-content h3 {
  font-size: 60px;
}

.banner-link-btn {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.discover-btn {
  text-decoration: none;
  background-color: #FF3D17;
  border: 1px solid #FF3D17;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
}
.discover-btn:hover{
  background-color: transparent;
  border: 1px solid #FF3D17;
  color: #FF3D17;
}

.latest-btn {
  text-decoration: none;
  border: 1px solid white;
  padding: 13px 23px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
}
.latest-btn:hover{
  color: #FF3D17;
  border:1px solid #FF3D17;
}





@media (min-width:801px) and (max-width:1439px) {
  .banner {
    background-size: 100% 100%;
  }
}




/* TABLET RESPONSIVE */
@media (max-width:800px) {
  .menu-icon {
    display: block;
  }

  .nav-link {
    display: none;
  }

  .banner {
    height: 400px;
    background-size: 100% 100%;
  }

  .banner-content {
    width: 100%;
    padding-left: 40px;
  }

  .banner-content h3 {
    font-size: 40px;
  }

}










/* MOBILE RESPONSIVE */
@media (max-width:500px) {
  .nav-logo {
    width: 70px;
  }

  .nav-right a {
    display: none;
  }

  .nav-logo p {
    font-size: 14px;
  }

  .banner {
    height: 350px;
    object-fit: cover;
    margin-top: 30px;
  }

  .banner-content h3 {
    font-size: 28px;
  }

  .banner-link-btn {
    flex-direction: column;
    margin-top: 10px;
    gap: 7px;
  }

  .banner-content {
    padding-left: 0px;
    padding-inline: 20px;
    text-align: center;
  }
}